{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Audreys' Blog</title>
        <link rel="stylesheet" href="https://cdn.integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    </head>
    <body>
        <header>
            <h1><a href="/">Audreys' Blog</a></h1>
        </header>

            {% for post in posts %}
                <article>
                    <time>published: {{ post.published_date }}</time>
                    <h2><a href="">{{ post.title }}</a></h2>
                    <p>{{ post.text|linebreaksbr }}</p>
                </article>
            {% endfor %}
    </body>
</main>

            <time>published: 11.07.2022, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>I wish I'd spent my young adult life learning how to do things instead of assuming I was just bad at them.</p>
        </>
    </body>
</html>